{% extends 'plantilla.html' %}
{% block title %} Informacion de sedes {% endblock %}
{% block menuoptions %}
<li class="nav-item"> 
    <a class="nav-link active" aria-current="page" href="{% url 'appGestorCentro:sedes' %}">Regresar</a> 
</li>
{% endblock %}
{% block p %}
{% endblock %}
{% block contenido %}
<div class="container-infoUser">
    <div class="info-user">
        <div class="circle">
            <i class="fa-solid fa-building-circle-check fa-5x"></i>
        </div>
        <div class="text-info">
            <div class="info"><h5>{{ sede.name_sede }}</h5></div>
            <div class="info"><h3>{{ sede.contact_one }}</h3></div>
            <div class="info"><h3>{{ sede.direccion_sede }}</h3></div>
        </div>
    </div>
    <div class="info-user">
        <div class="text-info">
            <h1 style="color: black;">Ubicación</h1>
            <div class="info"><h3>{{ sede.id_City.name_City }}</h3></div>
            <div class="info"><h3>{{ sede.id_City.id_department.name_department }}</h3></div>
        </div>
        <div class="text-info">
            <h1 style="color: black;">Centros Registrados</h1>
            {% if centros %}
                {% for centro in centros %}
                    <div class="info"><h3>{{ centro.name_centro }}</h3></div>
                {% endfor %}
            {% else %}
                <div class="info"><h3>No hay centros registrados en esta sede.</h3></div>
            {% endif %}
        </div>
    </div>
</div>

<div class="editar">
    <a href=""><button class="Button-editar">Editar</button></a>
    <a href=""><button class="Button-editar">Ayuda</button></a>
</div>
{% endblock %}
