{% extends 'plantilla.html' %}
{% load static %}

{% block title %}Añadir Centros{% endblock %}
{% block p %}
<h1>Añadir Centros</h1>
{% endblock %}

{% block menuoptions %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'appGestorCentro:gestorCentros' %}">Regresar</a>
</li>
{% endblock %}
{% block contenido %}

{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        title: "info",
        text: "{{ message }}!",
        icon: "info"
    });
</script>
{% endfor %}
{% endif %}

<div class="container_form">
    <form id="registrationForm" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div id="step1" class="form-group">
            <label for="{{ field.id_for_label }}" class="">{{ field.label }}</label>
            {{field}}
        </div>
        {% endfor %}
        <div class="buttons">
            <button type="submit" >Enviar</button>
        </div>
    </form>
</div>
{% endblock %}